name: commitlint

on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - if: (github.actor!= 'dependabot[bot]') && (contains(github.head_ref, 'dependabot/') == false)
        name: commitlint
        uses: wagoid/commitlint-github-action@v2
        with:
          helpURL: https://www.conventionalcommits.org/
